.dashboard {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-l);
  padding: var(--spacing-l);
  width: 100%;
  max-width: var(--max-content);


  .colored {
    --text-color: var(--secondary);
  }
}