.error {
  display: flex;
  gap: var(--spacing-m);
  color: var(--danger);
  border-radius: var(--radius-s);
  border: 1px solid var(--danger);
  background-color: rgba(var(--danger-), 0.1);
  padding: var(--spacing-m);
}