@font-face {
  font-family: "Poppins";
  src: url("../assets/font/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins";
  src: url("../assets/font/Poppins-Italic.ttf");
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url("../assets/font/Poppins-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Poppins";
  src: url("../assets/font/Poppins-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url("../assets/font/Poppins-Light.ttf");
  font-weight: lighter;
}

@font-face {
  font-family: "Poppins";
  src: url("../assets/font/Poppins-LightItalic.ttf");
  font-weight: lighter;
  font-style: italic;
}