.applications {
  max-width: var(--max-content);
  width: 100%;
  padding: var(--spacing-xxl);

  display: flex;
  flex-direction: column;
  gap: var(--spacing-xl);

  .title {
    margin: var(--spacing-m) 0;
  }

  .actionBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing-m);
  }

  .actionButtons {
    display: flex;
    gap: var(--spacing-m);
  }

  .applicationsList {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-m);
  }
}